<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div>
    <table border="2">
        <tr align="center">
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr th:each="user : ${users}" align="center">
            <td th:text="${user.getId()}">ID</td>
            <td th:text="${user.getFirstName()}">First name</td>
            <td th:text="${user.getLastName()}">Last name</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">Email</td>

            <td th:each="role : ${user.getRoles()}" th:text="${#strings.substringAfter(role.getTitle(), 'ROLE_') + ' '}">Role</td>

            <td>
                <form th:action="@{/users/edit}" method="GET">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input type="submit" value="Edit"/>
                </form>
            </td>
            <td>
                <form th:action="@{/users/delete}" method="POST">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>

    </table>
</div>
<br/>

<form th:action="@{/admin/new}" th:method="GET">
    <input type="submit" value="New user"/>
</form>
<br/>
<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>


</body>
</html>