<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!---------- header ------------->
<nav class="navbar bg-dark">
    <div class="container-fluid">
        <div class="navbar-text text-light fs-5 ms-3">
            <span class="fw-bold" th:text="${authUser.getEmail()}"></span>
            <span>with roles:</span>
            <span th:each="role : ${authUser.getRoles()}"
                  th:text="${#strings.substringAfter(role.getTitle(), 'ROLE_')} + ' '">
            </span>
        </div>
        <form th:action="@{/logout}" th:method="POST">
            <input class="btn btn-outline-light" type="submit" value="Logout"/>
        </form>
    </div>
</nav>
<!------------- body --------------->
<div class="container-fluid">
    <div class="row vh-100">
        <!------------- left --------------->
        <div class="col-2 mt-3 px-0">
            <div class="row">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item ms-2">
                        <a class="nav-link active" href="/admin">Admin</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link" href="/user">User</a>
                    </li>
                </ul>
            </div>
        </div>
        <!------------- right --------------->
        <div class="col-10 bg-light">
            <div class="row">
                <div class="col">
                    <div class="mt-2 ms-4 me-4">
                        <span class="fs-1 fw-semibold ">Admin panel</span>
                        <div class="mt-2">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active">Users table</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/new">New User</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card">
                            <h3 class="card-header fs-4">All users</h3>
                            <div class="card-body">
                                <hr>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="align-middle" th:each="user : ${users}">
                                        <td th:text="${user.getId()}">ID</td>
                                        <td th:text="${user.getFirstName()}">First name</td>
                                        <td th:text="${user.getLastName()}">Last name</td>
                                        <td th:text="${user.getAge()}">Age</td>
                                        <td th:text="${user.getEmail()}">Email</td>
                                        <td>
                                            <span th:each="role : ${user.getRoles()}"
                                                  th:text="${#strings.substringAfter(role.getTitle(), 'ROLE_')} + ' '"/>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-info text-white" data-bs-toggle="modal"
                                                    th:attr="
                                                    data-bs-target='#editUserModal-' + ${user.id},
                                                    data-id=${user.id},
                                                    data-firstName=${user.firstName},
                                                    data-lastName=${user.lastName},
                                                    data-age=${user.age},
                                                    data-email=${user.email},
                                                    data-roles=${user.roles}">
                                                Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-danger text-white"
                                                    data-bs-toggle="modal"
                                                    th:attr="
                                                    data-bs-target='#deleteUserModal-' + ${user.getId()},
                                                    data-deleteId=${user.id},
                                                    data-firstName=${user.firstName},
                                                    data-lastName=${user.lastName},
                                                    data-age=${user.age},
                                                    data-email=${user.email},
                                                    data-roles=${user.roles}">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal edit user -->
<div class="modal" th:each="user : ${users}" th:id="'editUserModal-' + ${user.getId()}"
     th:classappend="${editError == user.id} ? 'show d-block' : ''"
     tabindex="-1" aria-labelledby="editUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                <form th:id="'editUserForm-' + ${user.getId()}" th:method="POST"
                      th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="editId">ID</label>
                        <input class="form-control w-50 mx-auto bg-light" type="text" id="editId"
                               th:field="*{id}"
                               disabled>
                    </div>

                    <div class="mb-3">
                        <label class="form-label fw-bold" for="editFirstName">First name</label>
                        <input class="form-control w-50 mx-auto" type="text" id="editFirstName"
                               th:field="*{firstName}">

                        <div class="alert alert-danger mt-2 w-75 mx-auto"
                             th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}">firstName error
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="editLastName">Last name</label>
                        <input class="form-control w-50 mx-auto" type="text" id="editLastName"
                               th:field="*{lastName}">
                        <div class="alert alert-danger mt-2 w-75 mx-auto"
                             th:if="${#fields.hasErrors('lastName')}"
                             th:errors="*{lastName}">lastName error
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="editAge">Age</label>
                        <input class="form-control w-50 mx-auto" type="number" id="editAge"
                               th:field="*{age}">
                        <div class="alert alert-danger mt-2 w-50 mx-auto"
                             th:if="${#fields.hasErrors('age')}"
                             th:errors="*{age}">age error
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="editEmail">Email</label>
                        <input class="form-control w-50 mx-auto" type="email" id="editEmail"
                               th:field="*{email}">
                        <div class="alert alert-danger mt-2 w-50 mx-auto"
                             th:if="${#fields.hasErrors('email')}"
                             th:errors="*{email}">email error
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="editPassword">Password</label>
                        <input class="form-control w-50 mx-auto" type="password" id="editPassword"
                               th:field="*{password}">
                        <div class="alert alert-danger mt-2 w-75 mx-auto"
                             th:if="${#fields.hasErrors('password')}"
                             th:errors="*{password}">password error
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="editRoles" class="form-label fw-bold">Role</label>
                        <select class="form-select w-50 mx-auto" id="editRoles" name="roles" multiple>
                            <option th:each="role : ${roles}"
                                    th:value="${role.id}"
                                    th:field="*{roles}"
                                    th:text="${#strings.substringAfter(role.getTitle(), 'ROLE_')}"></option>
                        </select>
                    </div>
                    <div class="alert alert-danger mt-2 w-50 mx-auto"
                         th:if="${#fields.hasErrors('roles')}"
                         th:errors="*{roles}">roles error
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" th:attr="form='editUserForm-' + ${user.getId()}">Edit
                </button>
            </div>
        </div>
    </div>
</div>

<!-- modal delete user -->
<div class="modal" th:each="user : ${users}" th:id="'deleteUserModal-' + ${user.getId()}"
     tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserLabel">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body text-center">
                <form th:id="'deleteUserForm-' + ${user.getId()}" th:method="POST"
                      th:action="@{/admin/delete/{id}(id=${user.getId()})}" th:object="${user}">
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="deleteUserId">ID</label>
                        <input class="form-control w-50 mx-auto bg-light" type="text" id="deleteUserId"
                               th:field="*{id}"
                               disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="deleteUserFirstName">First name</label>
                        <input class="form-control w-50 mx-auto bg-light" type="text" id="deleteUserFirstName"
                               th:field="*{firstName}"
                               disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="deleteUserLastName">Last name</label>
                        <input class="form-control w-50 mx-auto bg-light" type="text" id="deleteUserLastName"
                               th:field="*{lastName}"
                               disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="deleteUserAge">Age</label>
                        <input class="form-control w-50 mx-auto bg-light" type="number" id="deleteUserAge"
                               th:field="*{age}"
                               disabled>
                    </div>
                    <div class="mb-3">
                        <label class="form-label fw-bold" for="deleteUserEmail">Email</label>
                        <input class="form-control w-50 mx-auto bg-light" type="email" id="deleteUserEmail"
                               th:field="*{email}"
                               disabled>
                    </div>
                    <div class="mb-3">
                        <label for="deleteUserRoles" class="form-label fw-bold">Role</label>
                        <select class="form-select w-50 mx-auto bg-light" id="deleteUserRoles" name="roles" multiple
                                disabled>
                            <option th:each="role : ${user.getRoles()}"
                                    th:value="${role.id}"
                                    th:field="*{roles}"
                                    th:text="${#strings.substringAfter(role.getTitle(), 'ROLE_')}"></option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" th:attr="form='deleteUserForm-' + ${user.getId()}">Delete
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const editButtons = document.querySelectorAll('.btn[data-id]');
    editButtons.forEach(button => {
        const userId = button.getAttribute('data-id');
        const editUserModal = document.getElementById(`editUserModal-${userId}`);

        editUserModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const userId = button.getAttribute('data-id');
            const firstName = button.getAttribute('data-firstName');
            const lastName = button.getAttribute('data-lastName');
            const age = button.getAttribute('data-age');
            const email = button.getAttribute('data-email');
            const roles = button.getAttribute('data-roles').split(',');

            const modalInputId = editUserModal.querySelector('#editId');
            const modalInputFirstName = editUserModal.querySelector('#editFirstName');
            const modalInputLastName = editUserModal.querySelector('#editLastName');
            const modalInputAge = editUserModal.querySelector('#editAge');
            const modalInputEmail = editUserModal.querySelector('#editEmail');
            const modalSelectRoles = editUserModal.querySelector('#editRoles');

            modalInputId.value = userId;
            modalInputFirstName.value = firstName;
            modalInputLastName.value = lastName;
            modalInputAge.value = age;
            modalInputEmail.value = email;

            Array.from(modalSelectRoles.options).forEach(option => {
                option.selected = roles.includes(option.value);
            });
        });
    });

</script>

<script>
    const deleteButtons = document.querySelectorAll('.btn[data-deleteId]');
    deleteButtons.forEach(button => {
        const userId = button.getAttribute('data-deleteId');
        const deleteUserModal = document.getElementById(`deleteUserModal-${userId}`);

        deleteUserModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            const userId = button.getAttribute('data-deleteId');
            const firstName = button.getAttribute('data-firstName');
            const lastName = button.getAttribute('data-lastName');
            const age = button.getAttribute('data-age');
            const email = button.getAttribute('data-email');

            const modalInputId = deleteUserModal.querySelector('#deleteUserId');
            const modalInputFirstName = deleteUserModal.querySelector('#deleteUserFirstName');
            const modalInputLastName = deleteUserModal.querySelector('#deleteUserLastName');
            const modalInputAge = deleteUserModal.querySelector('#deleteUserAge');
            const modalInputEmail = deleteUserModal.querySelector('#deleteUserEmail');

            modalInputId.value = userId;
            modalInputFirstName.value = firstName;
            modalInputLastName.value = lastName;
            modalInputAge.value = age;
            modalInputEmail.value = email;

        });
    });

</script>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>