<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/save}" th:object="${user}">
    <label for="firstName">First name:</label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</div>
    <br/>

    <label for="lastName">Last name:</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>
    <br/>

    <label for="age">Age:</label>
    <input type="number" th:field="*{age}" id="age">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
    <br/>

    <label for="email">Email:</label>
    <input type="text" th:field="*{email}" id="email">
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>
    <br/>

    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" id="password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>
    <br/>

        <label for="roles">Roles:</label>
        <div th:each="role : ${roles}">
            <input type="checkbox" id="roles"
                   th:id="'role_' + ${role.getId()}"
                   th:name="'roles'"
                   th:value="${role.getId()}"
                   th:field="*{roles}"/>
            <label th:for="'role_' + ${role.getId()}" th:text="${role.getTitle()}">Role</label>
        </div>
    <div style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">password error</div>
    <br/>

    <input type="submit" value="Create"/>
</form>
<form th:action="@{/admin}" th:method="GET">
    <input type="submit" value="Back"/>
</form>



</body>
</html>