<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!---------- header ------------->
<nav class="navbar bg-dark">
    <div class="container-fluid">
        <div class="navbar-text text-light fs-5 ms-3">
            <span class="fw-bold" th:text="${authUser.getEmail()}"></span>
            <span>with roles:</span>
            <span th:each="role : ${authUser.getRoles()}"
                  th:text="${#strings.substringAfter(role.getTitle(), 'ROLE_')} + ' '">
            </span>
        </div>
        <form th:action="@{/logout}" th:method="POST">
            <input class="btn btn-outline-light" type="submit" value="Logout" />
        </form>
    </div>
</nav>
    <!------------- body --------------->
<div class="container-fluid">
        <div class="row vh-100">
            <!------------- left --------------->
            <div class="col-2 mt-3 px-0">
                <div class="row">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item ms-2">
                                <a class="nav-link " href="/admin"
                                   th:each="role : ${authUser.getRoles()}"
                                   th:if="${role.getTitle().equals('ROLE_ADMIN')}">Admin</a>
                            </li>
                            <li class="nav-item ms-2">
                                <a class="nav-link active" href="/user">User</a>
                            </li>
                        </ul>
                    </div>
            </div>
            <!------------- right --------------->
            <div class="col-10 bg-light">
                <div class="row">
                    <div class="col">
                        <div class="mt-2 ms-4 me-4">
                            <span class="fs-1 fw-semibold ">User information page</span>
                            <div class="card mt-2">
                                <h3 class="card-header fs-4">About user</h3>
                                <div class="card-body">
                                    <hr>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="table-active">
                                            <td th:text="${authUser.getId()}">ID</td>
                                            <td th:text="${authUser.getFirstName()}">First name</td>
                                            <td th:text="${authUser.getLastName()}">Last name</td>
                                            <td th:text="${authUser.getAge()}">Age</td>
                                            <td th:text="${authUser.getEmail()}">Email</td>
                                            <td>
                                                <span th:each="role : ${authUser.getRoles()}"
                                                      th:text="${#strings.substringAfter(role.getTitle(), 'ROLE_')} + ' '"/>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>